/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Secondary: #CDE0E7;
	--Darkest: #000000;
	--Light: #DADEE1;
	--Lightest: #FFFFFF;
	--HeroImage: url('../Images/Hero-Image.png');
	--FontFamily: Arial, Avenir, Myriad;
	--LogoImagePrint: url('../Images/Logo.svg');
	--Medium: #A4AAAE;
	--LogoImage: url('../Images/b7-logo_50x55_2.png');
	--Primary: #033003;
	--Dark: #384938;
}

